body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #666;
}

h1 {
    color: #1e1d1d;
}

input {
    padding: 10px;
    margin: 10px;
    width: 200px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

img {
    margin-top: 20px;
    max-width: 200px;
    display: block
}

#result {
    display: none;
    /* Hide the result text initially */
}

#resultImage {
    display: none;
    /* Hide the result image initially */
    max-width: 200px;
}